body{
	background-color: #F0DC82
}

h1{
	font-family: 'Fjalla One';
	color: #2e374a;
	text-align: center
}

h4{
	font-family: 'Raleway';
	color: #2e374a;
	text-align: center
}

img{
	padding-left: 50%;
}